*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
 }
 body{
     background-color: #343a40
     
 }
 
 .sticky{
    width: 600px;
    height: 70px;
    gap: 8px;
    position: sticky;
    left:500px;
    top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
 }
 
 
.zol{
    background-image: image-set(d);
    background-position: center;
    background-size: cover;
width: 100vw;
height: 100vh;
z-index: 1;
}
.zol::before{
    background-color: black;
    
}
.photos{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
    object-fit: cover;
    height: 1200px;
    width: 1400px;
    
    justify-content: space-evenly;
    justify-items: center;
  
}
.same{
    width: 340px;
    height: 300px;
     margin: 10px
     
    
}
h1{
    color: black;
   margin-top: 190px;
    font-size: 60px;
     font-family: "Inter", sans-serif;
}
h4{
    color: white;
    font-size: 25px;
}
p{
    color: white;
}
.image{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./image_1.jpg.webp);
    background-position: center;
    background-size: cover;
    
}
.image::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
position: absolute;
opacity: 0.5;

}
h3{
    color: white;
    width: 300px;
    height: 80px;
    font-size: 30px;
    margin-top: 45px;
    font-family: "Roboto Condensed", sans-serif;
}
.green{
    cursor: pointer;
    font-size: 16px;
    color: azure;
    margin: 15px;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
}
.green:hover{
    color: greenyellow;
    transition: 0.5s;
}
.charles{
    font-size: 70px;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    
}
h6{
    font-size: 20px;
    color: black;
     font-family: "Inter", sans-serif;
}
.dodo{
   
    color: white;
    font-size: 30px;
    display: inline;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.My{
    margin-bottom: 40px;
   margin-left: 630px;
    font-size: 30px;
    display: inline;
    font-family: "Roboto Condensed", sans-serif;;
}
.education{
    display: block;
color: white;
font-size: 24px;
font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.exp{
    
color: white;
font-size: 24px;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.block{
      border-radius: 10px;
    width: 550px;
    height: 250px;
    background-color: #222;
   
}
.mainblock{
    margin-top: 60px;
    margin-left: 180px;
    width: 1200px;
    width: 1500px;
    display: grid;
    grid-template-columns: 540px 530px;
   row-gap: 18px;
   column-gap: 30px;
}
.aboutt{
    margin-top: 180px;
    margin-left: 30px;
    width: 600px;
    height: 400px;
    object-fit: cover;
    display: inline-block;
}
.ab{

    font-size: 30px;
    color: white;
     font-family: "Roboto Condensed", sans-serif;
   
    
}
.mee{
    color: white;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    
}
.sep{
    color: whitesmoke;
    font-size: 20px;
    margin-top: 20px;
}
.river{
   
      margin-top: 15px;
    font-size: 19px;
   color: whitesmoke;
}
.aboutmee{
    width: 100%;
    height: 700px;
}
.march{
font-size: 14px;
margin-left: 30px;
margin-top: 40px;
font-family: "Noto Sans", sans-serif;
}
.master{
font-size: 20px;
color: #bac964;
margin-left: 30px;
margin-top: 15px;
font-family: "Noto Sans", sans-serif;
}
.even{
    height: 30px;
    font-size: 16px;
    color: white;
margin-left: 30px;
margin-top: 15px;
font-family: "Noto Sans", sans-serif;
}
.newyo{
    color: white;
    font-size: 18px;
margin-left: 30px;
margin-top: 30px;
font-family: "Noto Sans", sans-serif;
}
.personone{
    margin-left: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
}
.zazaza{
    width: 500px;
    height: 500px;
    margin-top: 300px;
    margin-left: 150px;
}
.hire{
    
    display: inline-block;
    cursor: pointer;
    background-color: #bac964;
    width: 120px;
    height: 30px;
    border-radius: 25px;
    margin-top: 20px;
    
}
.downl{
     display: inline-block;
     margin-top: 20px;
      cursor: pointer;
     background-color: aquamarine;
    width: 180px;
    height: 30px;
    border-radius: 25px;
     font-family: "Inter", sans-serif;
}
.hir{
   font-size: 12px;
    font-family: "Inter", sans-serif;
    margin-top: 8px;
}
.dovn{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    margin-top: 8px;
}
.client{
    display: grid;
    grid-template-columns: 500px;
   
}
.sala{
    margin-top: 25px;
    margin-left: 200px;
    width: 440px;
    height: 220px;
    background-color: #222;
    display: inline-block;
    z-index: 1;
    
    position: relative;
}
.sala::before{
    content: " ";
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: inherit;
    height: 15px;
    width: 16px;
    left: -16px;
    top: 12%;
    z-index: 2;
    position: absolute;
   
}
.far{
    margin-top: 50px;
    margin-left: 20px;
    color: whitesmoke;
    font-size: 17px;
     font-family: "Inter", sans-serif;
}
.da{
    margin-left: 20px;
    margin-top: 15px;
     font-family: "Inter", sans-serif;

}
.xyz{
    color: #bac964;
    cursor: pointer;
}
.service{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}
.serv{
    width: 360px;
    height: 450px;
    background-color: #222;
    
    gap: 15px;

}
.salas{
    margin-bottom: 50px;
    margin-top: 25px;
    margin-left: 200px;
    width: 440px;
    height: 220px;
    background-color: #222;
    display: inline-block;
    z-index: 1;
    
    position: relative;
}
.salas::before{
    content: " ";
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: inherit;
    height: 15px;
    width: 16px;
    left: -16px;
    top: 12%;
    z-index: 2;
    position: absolute;
}
.icons{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #bac964;
    margin-left: 130px;
    margin-top: 30px;
   
}
.slim{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-top: 25px;
    object-fit: cover;
}
.serb{
    font-size: 22px;
    margin-left: 125px ;
    margin-top: 40px;
}
.serbo{
    font-size: 22px;
    margin-left: 60px ;
    margin-top: 40px;
     font-family: "Inter", sans-serif;
}
.serba{
    font-size: 22px;
    margin-left: 115px ;
    margin-top: 40px;
     font-family: "Inter", sans-serif;
}
.serbt{
    font-size: 18px;
    color: whitesmoke;
    margin-top: 25px;
    margin-left: 20px;
     font-family: "Inter", sans-serif;
}
button{
    color: whitesmoke;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background-color: #bac964;
    cursor: pointer;
    margin-left: 130px;
    margin-top: 30px;

}
.maino{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 150px;
}
.blog{
    width: 360px;
    height: 500px;
cursor: pointer;
    background-color: #222;
}

.jpg{
    width: 360px;
    height: 250px;
    object-fit: cover;
}
.creat{
color: whitesmoke;
font-size: 20px;
margin-top: 30px;
margin-left: 30px;
 font-family: "Inter", sans-serif;
}
.creat:hover{
    color: #bac964;
    cursor: pointer;
}
.power{
color: whitesmoke;
font-size: 14px;
word-spacing: 2px;
margin-top: 20px;
margin-left: 30px;
 font-family: "Inter", sans-serif;
}
.tarix{
    margin-left: 30px;
    margin-top: 60px;
     font-family: "Inter", sans-serif;
     font-size: 12px;
}
.muted{
    margin-top: 30px;
    font-size: 24px;
}
.media{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}
.face{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #222;

}
.logoo{
    object-fit: cover;
    width: 35px;
    height: 35px;
    margin-left: 13px;
    margin-top: 12px;
}
.end{
   margin-top: 40px;
    font-size: 18px;
     font-family: "Inter", sans-serif;
   
}