 body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .container {
    display: flex;
    gap: 20px;
  }

 .shape {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    transition: transform 0.3s ease;
    cursor: pointer;
  }


  .big {
    transform: scale(1.5);
  }

  .small {
    transform: scale(0.8);
  }