

.round{
width: 100px;
height: 30px;
border: 1px solid black;
background-color: gray;
}
.round:hover{
    border-radius: 10px;
}
.forward{
width: 100px;
height: 30px;
border: 1px solid black;
background-color: gray;

}
.forward:hover{
    transform: translate(10px);
    transition: 0.5s;
}
.backward{
   width: 100px;
height: 30px;
border: 1px solid black;
background-color: gray; 
margin-left: 10px;

}
.backward:hover{
    transform: translate(-10px);
    transition: 0.5s;
}